<div class="filter_sorties">
    <form class="filter_sorties_form">
        <div class="filter_sorties_form_col">
            <div class="filter_sorties_form_col_field">
                <labeL id="campus_list">CAMPUS</labeL>
                <select list="campus_list" class="select_class">
                    <option value="{{ app.user.campus.nom }}" selected="selected">
                        {{ app.user.campus.nom |capitalize }}
                    </option>
                    {% for item in campus %}
                        <option value="{{ item.nom }}">{{ item.nom |capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter_sorties_form_col_field">
                <label for="word-search">Le nom de la sortie contient</label>
                <input type="text" id="word-search" placeholder="search">
                {#  todo: add glass    #}
                {#                <i class="material-icons glass_icon">search</i> #}
            </div>
            <div class="filter_sorties_form_col_field">
                <label for="date_start">Entre</label>
                <input type="date" id="date_start">
                <label for="date_end">et</label>
                <input type="date" id="date_end">
            </div>

        </div>
        <div class="filter_sorties_form-col">
            <div>
                <input type="checkbox" checked>
                <label for="">Sorties dont je suis l'organisateur/ trice</label>
            </div>
            <div>
                <input type="checkbox" checked>
                <label for="">Sortie auxquelles je suis inscrit/e</label>
            </div>
            <div>
                <input type="checkbox" checked>
                <label for="">Sorties auxquelles je suis pas inscrit/e</label>
            </div>
            <div>
                <input type="checkbox">
                <label for="">Sorties passées</label>
            </div>
        </div>
    </form>
    <button type="submit" class="btn-class">Rechercher</button>
</div>
