{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {% endblock %}

{% block body %}
    <div class="main_container">
        {% include 'includes/infobanner.html.twig' %}

        <h2 class="page_title"> Filtrer les sorties</h2>
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        <button type="submit" class="btn-class">Rechercher</button>
        {{ form_end(searchForm) }}

        {% include 'main/_tablesorties.html.twig' with {sorties: sorties} only %}
        <a href="/sortie/create">
            <button class="btn-class">Créer une sortie</button>
        </a>
    </div>

{% endblock %}
