{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div>
        {% include 'sortie/_sortie.html.twig' with {sortie: sortie} only %}
    </div>
{% endblock %}
