<div class="info_banner">
    {#   todo: map with data     #}
    <div class="info_banner_block">
        <div class="info_banner_date">Date du Jour : 19/07/2018</div>
        <div class="info_banner_user">Participant : Jeanine L.</div>
    </div>
</div>