<div class="info_banner">
    <div class="info_banner_block">
        <div class="info_banner_date">Date du Jour : {{ "now" | date("d/m/Y") }}</div>
        <div class="info_banner_user">Participant : {{ app.user.prenom }} {{ app.user.nom | first | capitalize }}.</div>
    </div>
</div>